body {
  background-color: lightgray;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: gray;
  overflow: hidden;
}

#navbaritem {
  float: left;
}

#navbaritem a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.main {
  font-family: veranda, sans-serif;
}

.block {
  background-color: white;
  text-indent: 2px;
  padding: 2px 2px 2px 2px;
  margin: 4px;
}

video {
  width: 99%;
  max-width: 500px;
}